.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0 30px;
  display: flex;
  font-size: 15px;
  text-transform: uppercase;
  align-items: center;
}
.menu-item {
  cursor: pointer;
  padding: 12px;
}
