.parent {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0 30px;
  display: flex;
  font-size: 15px;
  text-transform: uppercase;
  background-color: blue;
}

.next {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}
.menu-item {
  cursor: pointer;
  padding: 12px;
}
