.publisher-logo {
  height: 40px;
}
.logo {
  font-family: "medium-content-sans-serif-font", sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.84);
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: 0.5px;
}
