.heading {
  font-size: 20px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.84);
  font-family: "medium-content-sans-serif-font sans-serif", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
  align-items: center;
}
.headerChild {
  margin-bottom: -1.5px;
  border-bottom: 0.1px solid black;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
}
.storySticky {
  position: -webkit-sticky;
  position: sticky;
  top: 8.5rem;
}
.more {
  font-family: "medium-content-sans-serif-font sans-serif", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  font-size: 17px;
}
.abcd {
  display: flex;
}
.save {
  display: flex;
  align-self: center;
  margin-left: 100px;
}
.storyGrid {
  font-size: 20px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.84);
  font-family: "medium-content-sans-serif-font sans-serif", sans-serif;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);

  padding-bottom: 25px;
}
.horizontal-card {
  display: flex;
  justify-content: space-evenly;

  padding: 12px;
  margin-bottom: 12px;

  font-family: "medium-content-sans-serif-font sans-serif", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.84);
  font-size: 20px;
  line-height: 1.4;
}

.card-image {
  display: flex;
}
.parent {
  display: flex;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  color: #000;
}

.section-name {
  width: 300px;
  font-size: 24px;
  margin: 0;
  font-family: "medium-content-sans-serif-font sans-serif", sans-serif;
  color: rgba(0, 0, 0, 0.84);
}

.card-title {
  width: 150px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}

.author-name {
  font-size: 16px;
  font-family: "medium-content-sans-serif-font sans-serif", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.84);
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  font-family: "medium-content-sans-serif-font", sans-serif;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.84);

  margin-left: -29px;

  background-color: white;
  height: 50px;
  align-items: center;
}
.menubar {
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.menu-item {
  cursor: pointer;
  padding: 12px;
}
.popular {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;
  }
}

@media (max-width: 800px) {
  .popular {
    display: none;
  }

  .section-name {
    display: flex;
  }
}
